/* || GENERAL */

:root {
    --main-bg-color:  rgb(226, 226, 226);
    --main-color: #292929;
    --secondary-color: #969696;
    --blue: #007EA0;
    --dark-blue: #024558;
    --orange: #D77B00;
    --dark-orange: #714100;
    --light-grey: #FBFBFB;
    --box-shadow: rgb(199, 199, 199);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

h1 {
    color: var(--main-color);
    margin-right: 3rem;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}

/* || HEADER */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 2rem;
    box-shadow: 0px 4px 5px  var(--box-shadow);
    background-color: white;
}

.logo {
    position: relative;
    top: 0.7rem;
}

/* || SEARCH */

.search {
    height: 2rem;
    width: 20rem;
    padding-left: 1rem;
    font-size: 1rem;
}

.search-button {
    background-color: white;
    position: relative;
    left: -2.23rem;
    top: 0.3rem;
    border: none;
    padding: 0;
}

.search-button:hover {
    color: var(--orange);
    cursor: pointer;
}

@media only screen and (max-width: 709px) {
    .search-form {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .search {
        width: 15rem;
    }
}

.MuiCircularProgress-root {
    position: relative;
    left: 40%;
}

.MuiCircularProgress-colorPrimary {
    color: white!important;
}

/* || MAISONRY */

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
    padding: 0 2rem;
}

.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: white;
    box-shadow: 7px 7px 7px var(--box-shadow);
    margin-bottom: 30px;
    padding: 0.2rem 1.5rem 1rem 1.5rem;
    border-radius: 1%;
}

/* || POST LISTING */

.info {
    align-items: baseline;
    display: flex;
    gap: 1rem;
    color: var(--secondary-color);
    font-size: 0.9rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 1rem;
}

.post-img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 1%;
}

.chat-icon {
    position: relative;
    top: 5px;
    margin-right: 0.4rem;
}

.author {
    color: var(--orange);
}

/* || SINGLE POST PAGE */

.single-post {
    width: 45%;
    min-width: 300px;
    background-color: var(--light-grey);
    padding: 0.2rem 1.5rem 1rem 1.5rem;
    margin: 0 auto 4rem auto;
    box-shadow: 7px 7px 7px var(--box-shadow);
    border-radius: 1%;
}

#subreddit-name {
    font-weight: bold;
    color: var(--main-color);
    font-size: 1rem;
}

@media only screen and (max-width: 1500px) {
    .single-post {
        width: 60%;
    }
}

@media only screen and (max-width: 950px) {
    .single-post {
        width: 90%;
    }
}

@media only screen and (max-width: 695px) {
    .single-post p {
        margin: 0;
    }

    .single-post {
        padding-top: 1rem;
    }
}
